# Node modules
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Build directories and dependencies
dist/
build/
.cache/
.out/
.next/
.vercel/
.netlify/

# environment variables and configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and local databases
logs/
*.log
*.sqlite
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Editor settings files
.vscode/
.idea/
*.swp
