<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Indica que la aplicación es un sitio Node.js -->
      <add name="iisnode" path="dist/app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Si la URL apunta a un archivo físico, no reescribir -->
        <rule name="StaticContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="dist/app.js"/>
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;dist/app.js"/>
  </system.webServer>
</configuration>
